.hero {
  margin: auto;
  width: 50%;
  text-align: center;
}

body {
  background-color: #439c71;
  font-family: 'Nerko One', cursive;
  margin: 30px;
}

li {
    padding: 5px;
    margin: 5px 150px;
    text-align: center;
    background: #c4f9ff;
  }
  
  .label {
    font-weight: bold;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  h2 {
    text-align: center;
  }

  .addBurger {
    text-align: center;
  }
  button {
    color: #e09326;
  }